#about-section {
    min-height: calc(100vh - 2.0rem);
    padding-top: 60px;
    //padding-bottom: 40px;

    img {
        width: 100%;
        max-width: 400px;
        align-self: center;
        display: block;
        margin: auto;
    }

    h2 {
        margin-top: 30px;
    }

    article {
        max-width: 500px;
        margin: auto;
        //padding: 1rem;
    }

    #about-skills {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        ul {
            margin: 0px 50px 0px 10px;
            padding: 0px;


            li {
                list-style: none;
            }
        }
    }
}

#about-frame-top {
    display: none;
}

#about-frame-bot {
    border-bottom: 4px solid $color-main;
    width: 70%;
    margin: auto;
}

@media (min-width: 290px) {
    #about-section #about-skills {
        flex-direction: row;
    }
}

@media (min-width: 920px) {    

    #landing-wrapper #about-section {
        min-height: 80vh;
        padding: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 420px 250px;
        direction: rtl;

        article {
            direction: ltr;
        }
    
        #about-article {
            text-justify: center;
            margin: auto;
            margin-left: 10px;
            padding: 10px;
            grid-column: 2;
            grid-row: 1/3;
            h1 {
                margin-bottom: 1rem;
            }
        }

        #skills-article {
            margin: 0px auto;
            h2 {
                margin-top: 0px;
            }
        }

        img {
            width: 60vw;
            max-width: 400px;
            object-fit: contain;
            margin: 0px auto;
        }
    }

    #about-frame-top {
        display: block;
        position: absolute;
        border-top: 4px solid $color-secondary;
        border-right: 4px solid $color-secondary;
        width: 15rem;
        height: 10rem;
        top: 2.6rem;
        right: -20px;
        margin: 0;
    }

    #about-frame-bot {
        border-left: 4px solid $color-main;
        width: 15rem;
        height: 10rem;
        bottom: 9rem;
        left: -20px;
        margin: 0;
    }
}