main {
    background: $gradient-background;
}

button {
    background: white;
    border: 1px solid black;
    height: 2rem;
    width: 7rem;
    border-radius: 16px;
}

#landing-wrapper {
    margin-left: 100px;
    background: $color-background;
    padding: 30px;
}

#welcome-section {
    height: 100vh;
    padding-top: 20vh;
}

#projects-section {
    min-height: 100vh;
}

#about-section {
    padding-top: 100px;
}