body {
    background: white;
}

svg {
    position: fixed;
    z-index: 1;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.section-div {
    height: 10px;
    width: 400px;
    fill: $color-main;
    position: relative;
    margin: auto;
    display: none;
}

#landing-wrapper {

    section {
        background: white;
        padding: 2.0rem 1.0rem;
    }
}

#welcome-section {
    height: calc(100vh - 2.0rem);
    display: flex;

    /*img {
        width: 100%;
        max-width: 400px;
        margin: auto;
        display: none;//block;
    }*/
}

#welcome-article {    
    max-width: 500px;
    margin: auto;

    h1 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.4rem;
        line-height: 2.2rem;
        p {
            margin: 0px;
        }
    }
}

#test-page {
    background: $gradient-background;
    height: 100vh;
    width: 100vw;
}

@media (min-width: 700px) {
    #welcome-article {
        h1{
            font-size: 2.8rem;
        }
    }
}

@media (min-width: 860px) {

    #welcome-article {
        text-justify: center;
        padding: 10px;

        p {
            margin-top: 40px;
        }
    }

    #landing-wrapper #welcome-section {
        //flex-direction: row-reverse;
    
        /*img {
            width: 60vw;
            max-width: 400px;
            object-fit: contain;
        }*/
    }

    #landing-wrapper section {
        max-width: $max-width-desktop;
        margin: 1rem auto;
    }
}

@media (min-width: 520px) {
    #landing-wrapper {
        margin-bottom: 0px;
        #welcome-section {
            div {
                position: absolute;
                height: 70%;
                width: 90%;
                border: 4px solid;
                left: 5%;
                top: 15%;
            }
            .bubble-one {
                border-color: $color-tertiary;
                transform: rotate(-2deg);
            }
            .bubble-two {
                border-color: $color-secondary;
                transform: rotate(2deg);
            }
            .bubble-three {
                border-color: $color-main;
            }
        }
    }
}