body {
    background: white;
}

button {
    background: white;
    border: 2px solid black;
    height: 2rem;
    width: 7rem;
    border-radius: 16px;
    margin: 10px 0px 10px 0px;
}

button:hover, :focus {
    background: black;
    color: white;
}

svg {
    position: fixed;
    z-index: 1;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.section-div {
    height: 10px;
    width: 400px;
    fill: lavender;
    position: relative;
    margin: auto;
    display: block;
}

#landing-wrapper {

    section {
        background: white;
        padding: 0.5rem;
        margin: 1.0rem;
    }
}

#welcome-section {
    height: calc(100vh - 2.0rem);

    img {
        width: 100%;
        max-width: 400px;
        margin: auto;
        display: block;
    }
}

#welcome-article {    
    max-width: 400px;
    margin: auto;
}

#test-page {
    background: $gradient-background;
    height: 100vh;
    width: 100vw;
}

#wave-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;

    #background-wave {
        position: absolute;
        z-index: 0;
        top: 0;
        height: 100%;
        width: 800px;
        left: -50px;
    }

    #background-fill {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 300px;
        height: 100%;
        width: 80vw;
        background: white;
    }

}

@media (min-width: 820px) {

    #welcome-article {
        text-justify: center;
        padding: 10px;

        p {
            margin-top: 40px;
        }
    }

    #welcome-section {
        padding-top: 0;
        display: flex;
        flex-direction: row-reverse;
    
        img {
            width: 60vw;
            max-width: 400px;
            object-fit: contain;
        }
    }
}