main {
    #background {
        background: $gradient-background;
        z-index: -5;
        width: 100vw;
        height: 100%;
        position: absolute;
    }
}

button {
    background: white;
    border: 1px solid black;
    height: 2rem;
    width: 7rem;
    border-radius: 16px;
}

svg {
    position: fixed;
    z-index: 1;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

#landing-wrapper {
    margin-left: 100px;
    padding: 30px;
    z-index: 10;
}

#welcome-section {
    height: 100vh;
    padding-top: 20vh;
}

#projects-section {
    min-height: 100vh;
}

#about-section {
    padding-top: 100px;
    height: 100vh;
}

#test-page {
    background: $gradient-background;
    height: 100vh;
    width: 100vw;
}

#wave-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;

    #background-wave {
        position: absolute;
        z-index: 0;
        top: 0;
        height: 100%;
        width: 800px;
        left: -50px;
    }

    #background-fill {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 300px;
        height: 100%;
        width: 100%;
        background: white;
    }

}

/*#sine-wave {
    overflow: hidden;
    max-width: 100vw;
    margin-left: 100px;
}*/