button {
    cursor: pointer;
    margin: auto;
    background: white;
    border: 3px solid $color-tertiary;
    height: 2.1rem;
    width: 7rem;
    //border-radius: 16px;
    margin: 5px 0px 5px 0px;
}

button:hover, :focus {
    background: $color-main;
    //color: white;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media(min-width: 380px) {
    .button-container{
        flex-direction: row;
    }
}