#contact-article {

    ul {
        padding: 0px;

        li {
            display: flex;
            margin: 1rem;
    
            a {
                display: flex;
                flex-direction: row;

                img {
                    max-height: 2rem;
                    margin: 0rem;
                    margin-right: 0.5rem;
                }

                p {
                    line-height: 2rem;
                    margin: 0px;
                }
            }
        }
    }
}

#project-info-page {
    #contact-article {
        margin: 40px;
        border-top: 2px solid black;
    }
}

@media (min-width: 920px) {
    #contact-article {
        width: 700px;
        margin-left: 20px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}