#contact-background {

    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    cursor: auto;

}

#contact-section {
    height: 3.2rem;
    #contact-link {
        cursor: pointer;
        display: none;
    }  
    .icon {
        margin: auto;
        display: block;
        position: relative;
        height: 38px;
        margin: 8px auto;
    }  
}

#contact-article {
    background-color: white;
    margin: auto;
    //pointer-events: none;
    padding: 40px 10px;
    z-index: 300;
    height: 100vh;

    ul {
        padding: 0px;

        li {
            display: flex;
            margin: 2rem 1rem;
    
            a {
                display: flex;
                flex-direction: row;

                svg {
                    max-height: 2rem;
                    margin: 0rem;
                    margin-right: 0.5rem;
                    position: relative;
                    z-index: 10;
                    height: 32px;
                    width: 32px;
                }

                p {
                    line-height: 2rem;
                    margin: 0px;
                }
            }
        }
    }
}

#close-contact-button {
    position: absolute;
    background: white;
    //border: solid 3px black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    top: 40px;
    right: 0px;
    cursor: pointer;

    span {
        width: 34px;
        height: 3px;
        background: black;
        display: block;
        position: absolute;
        left: 10px;
        top: 26px;
        transform: rotate(-45deg);
    }

    span:first-child {
        transform: rotate(45deg);
    }
}

#landing-wrapper {
    #contact-article {
        max-width: 500px;
        margin: auto;
    }
}

@media (min-width: 310px) {
    #contact-article {
        padding: 40px 30px;
        height: auto;
    }
    #close-contact-button {
        right: 40px;
    }
}

@media (min-width: 400px) {
    #contact-section {
        #contact-link {
            display: block;
        }
        .icon {
            display: none;
        }
    }
}

@media (min-width: 500px) {
    #contact-article {
        height: auto;
    }
}

@media (min-width: 700px) {

    #contact-background {
        background-color: rgba(0, 0, 0, 0.5);
    }

    #contact-article {
        width: 682px;
        margin: auto;
        padding: 60px;
        border: solid 3px black;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}