#contact-article {

    ul {
        padding: 0px;

        li {
            display: flex;
            margin: 2rem 1rem;
    
            a {
                display: flex;
                flex-direction: row;

                svg {
                    max-height: 2rem;
                    margin: 0rem;
                    margin-right: 0.5rem;
                    position: relative;
                    z-index: 10;
                    height: 32px;
                    width: 32px;
                }

                p {
                    line-height: 2rem;
                    margin: 0px;
                }
            }
        }
    }
}

#project-info-page {
    #contact-article {
        margin: 40px;
        border-top: 2px solid black;
    }
}

#landing-wrapper {
    #contact-article {
        max-width: 500px;
        margin: auto;
    }
}

@media (min-width: 920px) {

    #landing-wrapper #contact-article {
        max-width: $max-width-desktop;
    }

    #contact-article {
        width: 700px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    #project-info-page {
        #contact-article {
            margin: auto;
            width: 900px;
            div {
                width: 700px;
                margin: 30px auto;
            }
        }
    }
}