#header-bar {
    position: fixed;
    width: 100%;
    background: white;
    top: 0px;
    display: flex;
    flex-direction: column;
    h1 {
        margin: auto;
        margin-top: 5px;
        display: none;
        font-size: 1.8rem;
    }
}

nav {
    display: flex;
    height: 50px;
    justify-content: space-around;
    //max-width: $max-width-desktop;

    .link-a {
        height: 3.2rem;
        p {
            width: 60px;
            text-align: center;
            display: none;
        }
        .icon {
            margin: auto;
            display: block;
            position: relative;
            height: 38px;
            margin: 8px auto;
        }
    }

    .link-a:after,
    #contact-section:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 0.13em;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0px;
    }
    .link-a:hover:after,
    #contact-section:hover:after {
        width: 140%;
        left: -20%;
    }

    .link-a.current:after {
        width: 140%;
        left: -20%;
    }
}

@media (min-width: 400px) {
    nav .link-a {
        p {
            display: block;
        }

        .icon {
            display: none;
        }
    }
    .icon {
        display: none;
    }
}

@media (min-width: 660px) {
    
    #header-bar {
        flex-direction: row;
        justify-content: space-between;
        h1 {
            display: block;
            margin-top: 10px;
            margin-left: 20px;
        }
        nav {
            width: 400px;
        }
    }
}