#nav-id {
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    ul{
        padding: 0;
        
        li {
            border: 3px solid white;
            width: 2rem;
            height: 2rem;
            border-radius: 1rem;
            list-style-type: none;
            margin-left: 2rem;
        }

        span {
            border: 2px solid white;
            margin-left: 2.9rem;
        }
    }
}