#nav-id {
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 1rem;

    ul {
        padding: 0;

        a {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 100;
        }
        
        li {
            border: 3px solid white;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            list-style-type: none;

            li {
                position: relative;
                width: 20px;
                height: 20px;
                left: 3px;
                top: 3px;
                border-radius: 50%;
                border: none;
            }

            li.currentPos {
                background: white;
            }

            li.nav-link {
                background: none;
            }

            li.nav-link:focus, :hover, :active {
                background: rgba(100,100,100,0.8);
            }
        }

        span {
            border: 2px solid white;
            margin-left: 0.9rem;
            background: white;
        }
    }
}

#project-nav {
    position: fixed;
    top: 0px;
    right: 0px;

    ul {
        padding: 0;
        
        li {
            border-radius: 50%;
            list-style-type: none;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        li:nth-child(1) {
            width: 42px;
            height: 42px;
            position: relative;
        }

        li:nth-child(2) {
            width: 30px;
            height: 30px;
            position: relative;
            top: 8px;
        }

        li:nth-child(3) {
            width: 22px;
            height: 22px;
            position: relative;
            top: 10px;
        }

        li:nth-child(4) {
            width: 12px;
            height: 12px;
            position: relative;
            top: 18px;
        }

        span {
            position: relative;
            border: 1px solid white;
            background: white;
            display: inline-block;
            height: 26px;
            width: 3px;
            border-radius: 1.5px;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        #leftSlash {
            left: 17.5px;
            top: 16px;
            -webkit-transform: translateY(-50%) rotate(60deg);
            -moz-transform: translateY(-50%) rotate(60deg);
            -ms-transform: translateY(-50%) rotate(60deg);
            -o-transform: translateY(-50%) rotate(60deg);
            transform: translateY(-50%) rotate(60deg);
        }

        #rightSlash {
            left: 14.5px;
            top: 28px;
            -webkit-transform: translateY(-50%) rotate(-60deg);
            -moz-transform: translateY(-50%) rotate(-60deg);
            -ms-transform: translateY(-50%) rotate(-60deg);
            -o-transform: translateY(-50%) rotate(-60deg);
            transform: translateY(-50%) rotate(-60deg);
        }
    }
}