#projects-section {

    img {
        //width: 75vw;
        max-width: 500px;
        //position: relative;
        box-shadow: 1px 1px 6px 2px #222222;
        margin: 2rem auto;
        object-fit: scale-down;
        width: 100%;
        display: block;
    }

    .project-div {
        margin: 2rem 0;

        a {
            margin: 1rem auto;
        }

        p {
            margin-bottom: 1.5rem;
        }

        .project-info {
            margin: auto;
            padding: 0 1rem;
            max-width: 420px;
        }
    }

    button {
        cursor: pointer;
        margin: auto;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media(min-width: 380px) {
    .button-container{
        flex-direction: row;
    }
}

@media(min-width: 920px) {

    #projects-section .project-div {
        display: flex;
        flex-direction: row;
        margin-bottom: 6rem;

        a {
            margin: 0px 25px;
        }

        img {
            object-fit: contain;
            margin: auto;
            width: 40vw;
            left: -35px;
        }
    }

    .project-info {
        margin: auto;
        margin-left: 0px;
        min-width: 300px;
        max-width: 400px;
    }
}