#project-header-img {
    position: relative;
    max-width: 100vw;
}

#project-wrapper {

    margin: 60px 1rem;
    max-width: 700px;

    button {
        cursor: pointer;
    }

    #project-header-img {
        width: 100%;
    }

    div {
        img {
            max-width: 100vw;
            margin-left: -1.0rem;
        }
    }

    #project-intro {
        span {
            padding: 10px;
            background: black;

            border: 2px solid black;
        }
    }

    #code-and-tools {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        ul {
            margin: 0px 40px 0px 0px;
            padding: 0px;


            li {
                list-style: disc;
                margin-left: 30px;

                p {
                    font-style: italic;
                }
            }
        }
    }

    section {
        img {
            margin-top: 20px;
        }
    }

    a {
        color: black;
    }

    #contact-section {
        width: 100%;

        button {
            margin: 10px auto 30px auto;
            display: block;
        }
    }
}

#contact-hidden {
    display: none;
}

#project-links {

    width: 100%;
    display: flex;
    justify-content: space-evenly;

    a {
        margin: 20px;
    }
}

#top-link {
    position: absolute;
    bottom: -0.25rem;
    right: 0px;
    z-index: 100;

    #return-to-top {
        border: 2px solid black;
        background: white;
        box-shadow: 0 0 10px 10px white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: space-around;
        p {
            font-size: 3.5rem;
            align-self: center;
            margin: auto;
            font-weight: 300;
            margin-top: -5px;
            line-height: 1.1em;
        }
    }
}

#project-info-page {

    .header-link {
        position: absolute;
        bottom: 30px;
        z-index: 100;
        left: 50%;
        margin-left: -56px;
    }

    .underline {
        border: 1px solid black;
        height: 2px;
        width: 90%;
        max-width: 400px;
    }

    #project-header-div {
        position: relative;
    }

}

@media (min-width: 360px) {
    #project-wrapper #code-and-tools {
        flex-direction: row;
        ul {
            margin-top: 10px;
        }
    }
}

@media (min-width: 600px) {
    #project-wrapper {
        margin: 60px 2rem;
    }
}

@media (min-width: 700px) {

    #project-intro-description,
    #project-process,
    #project-development {
        div {
            img {
                width: 100%;
                margin-left: 0px;
                object-fit: contain;
                padding-bottom: 40px;
            }
        }
    }

    #project-highlight {
        .img-wrapper {
            width: 100%;
            margin-left: 0px;
            height: 450px;
            object-fit: cover;
            overflow-y: auto;

            img {
                width: 100%;
            }
        }
    }

    #project-wrapper #code-and-tools ul {
        margin: 0px 40px 0px 0px;
    }

}

@media (min-width: 780px) {

    #project-wrapper {
        margin: 60px auto;
    }
}