#projects-section {

    img {
        max-width: 70vw;
        position: relative;
        left: -75px;
        box-shadow: 1px 1px 6px 2px #222222;
        margin-bottom: 1rem;
    }

    .project-div {
        margin-bottom: 4rem;

        a {
            margin: 1rem;
        }

        p {
            margin-bottom: 1.5rem;
        }
    }

    button {
        cursor: pointer;
    }
}

#project-header-img {
    position: relative;
    max-width: 100vw;
    z-index: 100;
}

#project-wrapper {

    margin: 60px;

    button {
        cursor: pointer;
    }

    img {
        max-width: 100%;
    }

    #project-intro {
        span {
            padding: 10px;
            background: black;

            border: 2px solid black;
        }
    }

    #code-and-tools {
        display: flex;
        flex-direction: row;

        ul {
            margin: 10px 50px 0px 10px;
            padding: 0px;


            li {
                list-style: disc;
                margin-left: 30px;

                p {
                    font-style: italic;
                }
            }
        }
    }

    section {
        img {
            margin-top: 20px;
        }
    }

    a {
        color: black;
    }

    #contact-section {
        width: 100%;

        button {
            margin: 10px auto 30px auto;
            display: block;
        }
    }
}

#contact-hidden {
    display: none;
}

#project-links {

    width: 100%;
    display: flex;
    justify-content: space-evenly;

    a {
        margin: 20px;
    }
}

#top-link {
    position: absolute;
    bottom: -0.25rem;
    right: 0px;
    z-index: 100;

    #return-to-top {
        border: 2px solid black;
        background: white;
        box-shadow: 0 0 10px 10px white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: space-around;
        p {
            font-size: 3.5rem;
            align-self: center;
            margin: auto;
            font-weight: 300;
            margin-top: -5px;
        }
    }
}

#project-info-page {

    .underline {
        border: 1px solid black;
        height: 2px;
        width: 80%;
    }

}