// Resets

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    
  }
  
  body {
      margin: 0;
  }
  
  img {
      height: auto;
  }
  
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  a {
      text-decoration: none;
  }

  div, section, article, p, h1, h2, h3, h4, h5, h6, img, a {
      z-index: 10;
      position: relative;
  }