#test-page {
    background: $gradient-background;
    height: 100vh;
    width: 100vw;
}

#sine-wave {
    overflow: hidden;
    //max-height: 100vh;
    max-width: 100vw;
    margin-left: 100px;
}

svg {
    position: fixed;
    z-index: 1;
}