h1 {
    font-family: $font-header;
    font-size: 2.0rem;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h2 {
    font-family: $font-header;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
}

h3 {
    font-family: $font-subheader;
    font-size: 1.8rem;
    font-weight: 600;
}

h4 {
    font-family: $font-subheader;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0px;
}

p, button, li {
    font-family: $font-body;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

a {
    color: black;
    font-family: $font-body;
    font-size: 1.2rem;
}

@media (min-width: 700px) {
    h1{
        font-size: 2.4rem;
    }
    h4{
        font-size: 1.6rem;
    }
}