h1 {
    font-family: $font-header;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}

h2 {
    font-family: $font-header;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
}

h3 {
    font-family: $font-subheader;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
}

h4 {
    font-family: $font-subheader;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0px;
}

p, button {
    font-family: $font-body;
    font-size: 1.0rem;
}